ex1

In [1]:
print("Hello World")

hello

ex2

#this is a comment

In [2]:
carname = "Volvo"
print(carname)

Volvo

In [3]:
x = 5
y = 10
print(x+y)

15

In [4]:
x = 5
y = 10
z = x + y
print(z)

15

In [5]:
x = 5
print(type(x))

<class 'int'>

In [6]:
x = "Hello World"
print(type(x))

<class 'str'>

In [7]:
x = 20.5
print(type(x))

<class 'float'>

In [8]:
x = ["apple", "banana", "cherry"]
print(type(x))

<class 'list'>

In [9]:
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

In [10]:
x = {"name" : "John", "age" : 36}
print(type(x))

<class 'dict'>

In [11]:
x = True
print(type(x))

<class 'bool'>

In [12]:
x = 5
x = float(x)
print(x)

5.0

In [13]:
x=5.5
x=int(x)
print(x)

5

In [14]:
x=5
x=complex(x)
print(x)

(5+0j)

In [15]:
a = "Hello, World!"
print(a[1])

e

In [16]:
a = "Hello, World!"
print(len(a))

13

In [17]:
for x in "banana":
 print(x)

b
a
n
a
n
a

In [18]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [19]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [20]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [21]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [22]:
txt = "The best things in life are free!"
print("tree" in txt)

False

In [23]:
# string formatting
price = 49
txt = "The price is {} dollars"
print(txt.format(price))

The price is 49 dollars

In [24]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [25]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {0} pieces of item number {1} for {2:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [26]:
age = 36
name = "John"
txt = "His name is {1}. {1} is {0} years old."
print(txt.format(age, name))

His name is John. John is 36 years old.

In [27]:
myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang"))

I have a Ford, it is a Mustang.

In [28]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [29]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [30]:
print(10>9)
print(10==9)
print(10<9)

True
False
False

In [31]:
print(10*5)
print(10/2)
if 5 == 10 or 4 == 4:
  print("At least one of the statements is true")

50
5.0
At least one of the statements is true

In [32]:
a = 50
b = 10
if a>b:
    print("Hello World")
if a!=b:
    print("Hello World")

Hello World
Hello World

In [33]:
a = 50
b = 10
if a==b:
    print("Yes")
else:
    print("No")

No

In [34]:
a = 50
b = 10
if a == b:
  print("1")
elif a > b:
 print("2")
else:
 print("3")

2

In [35]:
a = 5
b = 3
c=2
d=2
if a == b or c == d:
  print("Hello")

Hello

In [36]:
if 5>2:
    print("The five is greater than two!")

The five is greater than two!

In [37]:
if 10>5: print("Ten is greater than five!")

Ten is greater than five!

In [ ]:
print("Yes") if 5>2 else print("No")